<div class="home-banner-main" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('home-banner.jpeg');">
  <h1>Learn to make top-class cocktails at home</h1>
  <p>Select which cocktail you want to make at home from our curated list of top cocktails.</p>
  <%= link_to cocktails_path do %>
    <button class="back-btn-hover">Enter</button>
  <% end %>
</div>


"
