.home-banner {
  background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('banner.jpeg');
  background-size: cover;
  height: 100vh;
  color: #eee;
  padding-top: 40vh;
  h1{
    color: $light-gray;
  }

}
